// FROM _variables.scss
$gutter-x: 1rem;
$gutter-y: .5rem;
$grid-width-default: 114rem;

// FROM _mixins.scss
@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

// MAIN RULES
.row {
    &:not(&:last-of-type) {
        margin-bottom: $gutter-y;
    }

    @include clearfix;

    &--default {
        width: $grid-width-default;
        margin: 0 auto;
    }

    @for $i from 3 through 1 {
        @for $j from 1 through $i {
            @at-root .col-#{$j}of#{($i + 1)} {
                width: calc(#{$j} * ((100% - #{$i} * #{$gutter-x}) / #{$i + 1}) + #{$j - 1} * #{$gutter-x});
            }
        }
    }
    
    @at-root [class^="col-"] {
        // background-color: #eee;
        float: left;
    
        &:not(&:last-of-type) {
            margin-right: $gutter-x;
        }
    }
}
