$gutter: 1rem;

.grid {
    &__row {
        @for $i from 1 through 3 {
            &--col-#{$i + 1} {
                $minus: ($i * $gutter) / ($i + 1);
                
                @for $j from (4 - $i) through 1 {
                    .grid__col--#{$j * 25} {width: calc(#{$j * 25 * 1%} - #{$minus});}
                }
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    &__col {
        background-color: royalblue;
        height: 12rem;
        float: left;

        &:not(:last-of-type) {
            margin-right: $gutter;
        }
        
        &:only-of-type {
            margin-right: 0;
        }
    }
}
