// from _variables.scss and _mixins.scss
$gutter-x: 1rem;
$gutter-y: .5rem;

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}


// MAIN RULES
.row {
    &:not(:last-of-type) {
        margin-bottom: $gutter-y;
    }

    @for $i from 3 through 1 {
        &--col-#{$i + 1} {
            @for $j from 1 through $i {
                .col--#{$j}of#{$i + 1} {
                    width: calc(#{$j} * ((100% - #{$i} * #{$gutter-x}) / #{$i + 1}) + #{$j - 1} * #{$gutter-x});
                }
            }
        }
    }
    
    [class^="col--"] {
        float: left;

        &:not(:last-of-type) {
            margin-right: $gutter-x;
        }
    }

    @include clearfix;
}
